body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(60, 1fr);
    height: 100vh;
    margin: 0;
    background-color: #121212;
    color: #00D4FF;
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / 8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #00D4FF;
    color: #121212;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header button {
    background-color: #f00080e8;
    color: #121212;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

header button:hover {
    background-color: #f00080d0;
}

.user-login {
    display: flex;
    align-items: center;
}

.user-login img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

aside {
    grid-column: 1 / span 5;
    grid-row: 8 / -1;
    background-color: #1A1A1A;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    text-decoration: none;
    color: #00D4FF;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f00080d0;
}

main {
    grid-column: 6 / -1;
    grid-row: 8 / -1;
    padding: 20px;
    overflow-y: auto;
}

.fact-container {
    display: flex;
    background-color: #1A1A1A;
    border: 1px solid #333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.fact-container:hover {
    transform: translateY(-5px);
}

.fact-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.fact-content {
    flex: 1;
}

.vote-buttons {
    margin-top: 15px;
}

.vote-buttons button {
    background-color: #00D4FF;
    color: #121212;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.vote-buttons button:hover {
    background-color: #00BFFF;
}

.vote-count {
    margin-left: 10px;
    font-weight: bold;
    color: #f00080ae;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1A1A1A;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup.show {
    display: block;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #aaa;
}

.close:hover {
    color: #fff;
}

#siteLogo {
    min-width: 90px;
    min-height: 90px;
}