.accountContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* border: 1px solid red */
  background-color: #0b0c1a;
}

.accountRight {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #0b0c1a;
}

.sectionContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;
  padding-bottom: 5px;
}

.sectionTitle {
  border-bottom: 1px solid #1ad4ff;
  text-align: center;
  color: #1ad4ff;
  width: 100%;
  padding-bottom: 5px;
}

.detailedInfoData {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.detailedInfoDataLeft {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 40px;
}

.detailedInfoDataRight {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detailedInfoFieldName,
.detailedInfoUserDataContainer {
  height: 50px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  color: #1ad4ff
}
.detailedInfoUserDataField {
  height: 46px;
  width: 289px;
  border-radius: 5px;
  border: 1px solid #0b0c1a;
  background: #fff;
  font-size: 18px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  color: #0b0c1a;
  cursor: default;
}
.detailedInfoUserDataField:hover {
  border: 1px solid #4a90e2;
}
.detailedInfoUSerDataField:disabled {
  caret-color: transparent;
  background-color: #b0b5ba;
}
.modifyAccountInfoIcon {
  margin-left: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.modifyPasswordButton {
  background-color: #1ad4ff;
  color: #0b0c1a;
  font-weight: 800;
  width: 186px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 8px;
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
}
.modifyPasswordButton:hover {
  color: #fff;
  background-color: #1ad4ff;
}
.modifyPasswordButton:disabled {
  background-color: #b0b5ba;
  color: #0b0c1a;
  cursor: default;
}

.profileSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.profileLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileRight {
  width: 50%;
}

.profileAvatarUsername {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.profileAvatarPicture {
  border-radius: 50%;
  border: 1px solid #1ad4ff;
  margin-right: 15px;
}
.profileUsername {
  font-size: 25px;
  color: #1ad4ff;
}
.profileChangeAvatarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modifyAvatarPictureButton {
  background-color: #1ad4ff;
  color: #0b0c1a;
  font-weight: 800;
  width: 186px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 8px;
  font-size: 18px;
}
.modifyAvatarPictureButton:hover {
  color: #fff;
  background-color: #1ad4ff;
}
.warningAvatarChangePremiumOnly {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
}
.avatarChangePremiumIcon {
  margin-right: 5px;
}

.validationButtonEnabled {
  font-size: 20px;
  margin-top: 25px;
  width: 150px;
  height: 50px;
  background-color: #a7d8a2;
  color: #122846;
  border-radius: 8px;
  border-color: #a7d8a2;
  cursor: pointer;
}

.validationButtonEnabled:hover {
  color: #a7d8a2;
  background-color: #0b0c1a;
}
.validationButtonDisabled {
  font-size: 20px;
  margin-top: 25px;
  width: 150px;
  height: 50px;
  background-color: #b0b5ba;
  color: #0b0c1a;
  border-radius: 8px;
}

.dataInfo{
    color:#1ad4ff;
    font-size: 18px;
}

.dataInfoFactsSubmitted{
    color:#1ad4ff;

    font-size: 18px;
}



.link{
  text-decoration: none;
  color:#1ad4ff;
  cursor: pointer;
}

.dataContainer{
  width:60%;
}

.factsSubmittedContainer{
  display: flex;
  flex-direction: row;
  text-align: left;
  gap:3em;
  margin-top: 15px;

}