body {
  padding: 0;
  margin: 0;
  font-family: Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  font-family: Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.modal{
  padding: 0px;
  border: 0px;
  background-color: rgb(34, 34, 43);
  color:#F5C242;
  font-family: "Caveat Brush";
  border-radius: 5px;
}


.ant-modal-content {
padding: 0 !important;
margin: 0 !important;
border: 0 !important;

background: none !important;
}

