.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #0b0c1a;
  position: sticky;
  top: 0;
}
.globalInfo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b0c1a;
  border-bottom: 1px solid #1ad4ff;
}

.logoContainer {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 2vh;
}

.logoImage {
  aspect-ratio: auto;
  height: 100%;
}
.logoCatchPhrase {
  color: #1ad4ff;
  margin-left: 2vh;
  font-size: 20px;
}
.userInfoContainer {
  display: flex;
  justify-content: space-around;
  color: #1ad4ff;
  width: 10vw;
  padding-right: 2vw;
}

.userImage {
  aspect-ratio: auto;
  height: 20px;
}

.navbar {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  background-color: #0b0c1a;
  color: #1ad4ff;
  padding: 1%;
}
.navbarCategories {
  display: flex;
  justify-content: center;
  text-align: left;
}
.navbarCategory:hover {
  color: #0b0c1a;
  background-color: #1ad4ff;
}
.navbarCategory {
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.navBarSubmitFact {
  width: 15%;
  height: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: #1ad4ff solid 1px;
  border-radius: 3px;
  font-weight: 900;
  cursor: pointer;
}
.navBarSubmitFact:hover {
  color: #0b0c1a;
  background-color: #1ad4ff;
}
.mainContainer {
  width: vh;
  background-color: #0b0c1a;
  display: flex;
  justify-content: space-between;
}

.factsContainer {
  width: 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.mainPublicity {
  width: 20%;
  background-color: grey;
}

.submitFactButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #ccc;
  color: #fff;
  cursor: pointer;
}

.footerContainer{
  color:white;
  background-color: #0b0c1a;
  padding:5px;
  padding-left: 20px;
  min-height: 150px;
}
.legalContainer{
  height: 60vh;
  background-color: azure;
  padding-left: 20px;
}

.footerNav{
  cursor:pointer;
}


