/* 



.userName{
  cursor:pointer;
  margin-left:3px
}
.userImage {
  aspect-ratio: auto;
  height: 20px;
}

.navbar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  background-color: #0b0c1a;
  color: #1ad4ff;
  padding: 1%;
  box-shadow: 0px 5px 5px grey;
}

.link{
  text-decoration: none;
  color:inherit;
}

.navBarSubmitFact {
  width: 15%;
  height: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: #1ad4ff solid 1px;
  background-color: #1ad4ff;
  color: #0b0c1a;
  border-radius: 3px;
  font-weight: 800;
  cursor: pointer;
  padding:2px;
}
.navBarSubmitFact:hover {
  color: #1ad4ff;
  background-color: #0b0c1a;
}
.mainContainer {
  width: 100%;
  background-color: #0b0c1a;
  display: flex;
  justify-content: space-between;
  
}


.submitFactButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #ccc;
  color: #fff;
  cursor: pointer;
}

.footerContainer{
  color:rgb(193, 193, 193);
  background-color: #0b0c1a;
  padding:5px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  text-align: justify;
  min-height: 150px;
  font-size: 12px;
  width:100%
}
.SEOText{
  padding-left: 0.7em;
}
.legalContainer{
  height: 60vh;
  background-color: azure;
  padding-left: 20px;
}

.footerNav{
  cursor:pointer;
}



 .footerLinkscontainer{
  background-color:#ccc;
  color:#0b0c1a;
  padding-left: 0.7em;

 } */

