.connectSectionContainer {
  width: 100svw;
  height: 80svh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #0b0c1a;
  padding-top: 3vh;
}
.registerContainer {
  box-shadow: chartreuse;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
  transition: opacity 0.15s ease 0s;
}

.registerSection {
  border: 1px solid #1ad4ff;
  box-shadow: chartreuse;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding-bottom: 2vh;
  border-radius: 5px;
  box-shadow: 0px 5px 5px grey;
}

.loginField {
  height: 30px;
  margin-bottom: 10px;
  width: 80%;
}
.loginFieldPassword {
  height: 30px;
  width: 85%;
}
.passwordArea {
  margin-bottom: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.passwordAreaInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.toggleShowPassword {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 15%;
}
.passwordWarning {
  font-size: 9px;
  width: 80%;
  margin-top: 2px;
}
.forgotPassword {
  font-size: 9px;
  cursor: pointer;
  color: #1ad4ff;
}
.agreeConditionsCheckboxContainer {
  display: flex;
  flex-direction: column;


}
.agreeConditionsText {
  text-align: left;

}
.agreeConditionsCheckbox {
  color: #1ad4ff;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;

}
.warningCGU {
  color: lightcoral;
  font-size: 12px;
}
.loginModalTitle {
  color: #1ad4ff;
  text-align: center;
}

.modalSigninButton {
  background-color: #1ad4ff;
  color: #0b0c1a;
  width: 80%;
  margin-top: 10px;
  font-weight: 800;
}

.switchSignup {
  color: #1ad4ff;
  cursor: pointer;
}

.modalSigninButton {
  cursor: pointer;
  height: 30px;
  border-radius: 5px;
}
